/* common start */

body {
    font-family: 'SFProDisplay', sans-serif;
    font-weight: normal;
    height: 100%;
    overflow: auto;
    /* background-color: rgb(50, 50, 50); */
}
fieldset{
    display: flex;
    flex-direction: column;
}
.container__header{
    display: flex;
    justify-content: space-around;
    padding: 20px;
}
.form__controls{
    width: 50%;
}
.form{
    display: flex;
    width: 100%;
    /* height: 140px; */
    flex-direction: column;
    /* justify-content: space-between; */
    margin: 5px;
    /* margin-top: 90px */
    /* border: 1px solid #da68f5; */
}
.container{
    /* border-radius: 10px; */
    border: 1px solid #da68f5;
    margin-top: 20px;
    overflow: auto;
}
.control{
display: flex;
}
.fieldset_shader{
    border: 2px dashed #da68f5;
    padding: 9px 49px;
    border-radius: 6px;
    margin-left: 5px;
    width: 50%;
    color: #da68f5;
}
.form__info_shaders{
    display: flex;
}
.indicator {
    border: 0.5px solid #00446c;
    border-radius:50%;
    width: 25px;
    height: 25px;
    background-color: #00f6d2;
}

.button{
    width: 100px;
    height: 25px;
}
input{
    color: #00f6d2
}
#check{
    width: 100%;
    height: 100%;
    border: 1px solid #00f6d2;
}

.chooseWasm__input {
    opacity: 0;
    position: absolute;
    z-index: -1;
    overflow: hidden;
    width: 0.4px;
    height: 0.4px;
}

.chooseWasm__label {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 240px;
    border: 2px dashed #da68f5;
    padding: 9px 49px;
    border-radius: 6px;
    cursor: pointer;
    color: #da68f5;
}

.chooseWasm__icon {
    width: 30px;
    height: auto;
    margin-right: 11px;
    fill:#da68f5;
}

.chooseWasm__label .chooseWasm__text,
.chooseWasm__label .chooseWasm__icon path {
    transition: .25s ease;
}

.chooseWasm__label:hover .chooseWasm__text {
    color: #00f6d2;
}

.chooseWasm__label:hover .chooseWasm__icon path {
    fill: #00f6d2;
}

.chooseWasm__label:hover {
    border: 2px dashed #00f6d2;
}

/* drag and drop - "hover" */
.chooseWasm__label.hover .chooseWasm__text {
    color: #ffb300;
}
.chooseWasm__label.hover .chooseWasm__icon path {
    fill: #ffb300;
}
.chooseWasm__label.hover {
    border: 2px dashed #ffb300;
}

/* drag and drop - ошибка */
.chooseWasm__label.error .chooseWasm__text {
    color: #d32f2f;
}
.chooseWasm__label.error .chooseWasm__icon path {
    fill: #d32f2f;
}
.chooseWasm__label.error {
    border: 2px dashed #d32f2f;
}

/* drag and drop - файл(ы) успешно перетянут(ы) */
.chooseWasm__label.drop .chooseWasm__text {
    color: #99ff99;
}
.chooseWasm__label.drop .chooseWasm__icon path {
    fill: #99ff99;
}
.chooseWasm__label.drop {
    border: 2px dashed #99ff99;
}

.container__content{
    width: 100%;
    height: 300px;
    display: flex;
    overflow-y: scroll;
}

.input__place{
    width: 40%;
}

.output__place{
    width: 60%;
}

.roles__label{
    color: yellow;
}

.input__methods{
padding-top: 20px;
}
.params__label{
    display: block;
}

.method__label{
    display: block;
}

.submit{
    width: 150px;
}

/* .method__label input {
    margin-left: 20px;
    margin-bottom: 10px;
} */

.list ul{
    display:none;
    color:#da68f5;
}

.list .key {
    color:#da68f5;
}

.list .type {
    color:#99ff99;
}

.list li {
    list-style-type: none; 
    color:#00f6d2;
}

.list button {
    display: inline-block;
    vertical-align: center;
    text-align: center;
    font-size: 10px;
    background-color: transparent;
    color: #da68f5;
    border: 1px solid #da68f5;
    width:  20px;
    height: 20px;
    border-radius: 50%;
}

.visible{
    display: block !important;
}
